<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zilla Controller</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-toggle.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Zilla Controller</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/settings" class="">Settings</a></li>
          <!-- <li><a href="#">Data</a></li> -->
        </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Motor Kilowatts</h3>
          </div>
          <div class="panel-body">
            <h2>14 kw</h2>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Motor Voltage</h3>
          </div>
          <div class="panel-body">
            <h2>48 volts</h2>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Battery Voltage</h3>
          </div>
          <div class="panel-body">
            <h2>48 volts</h2>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Average Current on Motor</h3>
          </div>
          <div class="panel-body">
            <h2>50 amps</h2>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Available Current from Controller</h3>
          </div>
          <div class="panel-body">
            <h2>1000 amps</h2>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Operating Status</h3>
          </div>
          <div class="panel-body">
            <div>
              <p>Main contactor is on OK.</p>
              <p>Motor contactors are on OK.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Current Controller Temp</h3>
          </div>
          <div class="panel-body">
            <h2>72 &deg;F</h2>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Latest Operations</h3>
          </div>
          <div class="panel-body">
            <div>
              <div class="alert alert-info" role="alert">{{CurrentState}}</div>
              {{#Errors}}
              <div class="alert alert-warning" role="alert">{{.}}</div>
              {{/Errors}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-toggle.min.js"></script>
  </body>
</html>
