<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zilla Controller</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Zilla Controller</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/settings" class="">Settings</a></li>
          <!-- <li><a href="#">Data</a></li> -->
        </ul>
      </div>
    </nav>
    <div class="main">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Motor Kilowatts</h3>
            </div>
            <div class="panel-body">
              <h2>{{MotorKilowatts}} kw</h2>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Motor Voltage</h3>
            </div>
            <div class="panel-body">
              <h2>{{MotorVoltage}} volts</h2>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Battery Voltage</h3>
            </div>
            <div class="panel-body">
              <h2>{{BatteryVoltage}} volts</h2>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Average Current on Motor</h3>
            </div>
            <div class="panel-body">
              <h2>{{AverageCurrentOnMotor}} amps</h2>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Available Current from Controller</h3>
            </div>
            <div class="panel-body">
              <h2>{{AvailableCurrentFromController}} amps</h2>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Operating Status</h3>
            </div>
            <div class="panel-body">
              <div>
                {{#StoppedState}}<p>Stopped state.</p>{{/StoppedState}}
                {{#ShiftingInProgress}}<p>Shifting in progress.</p>{{/ShiftingInProgress}}
                {{#MainContactorIsOn}}<p>Main contactor is on OK.</p>{{/MainContactorIsOn}}
                {{#MotorContactorsAreOn}}<p>Motor contactors are on OK.</p>{{/MotorContactorsAreOn}}
                {{#DirectionIsReverse}}<p>Direction is reverse.</p>{{/DirectionIsReverse}}
                {{#DirectionIsForward}}<p>Direction is forward.</p>{{/DirectionIsForward}}
                {{#MotorsAreInParallel}}<p>Motors are in parallel.</p>{{/MotorsAreInParallel}}
                {{#MotorsAreInSeries}}<p>Motors are in series.</p>{{/MotorsAreInSeries}}
                {{#MainContactorHasVoltageDrop}}<p>Main contactor has voltage drop (>5V) across power terminals.</p>{{/MainContactorHasVoltageDrop}}
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Current Controller Temp</h3>
            </div>
            <div class="panel-body">
              <h2>{{ControllerTemp}} &deg;F</h2>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Current Error</h3>
            </div>
            <div class="panel-body">
              <div>
                <div class="alert alert-info" role="alert">{{CurrentError}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-toggle.min.js"></script>
  </body>
</html>
